In [17]:
from olist.data import get_data, transform_datetime, data_cleaning_general
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Read in data

In [2]:
data = get_data()
data = data_cleaning_general(data)
data = transform_datetime(data)

In [6]:
orders = data["orders"]

In [8]:
orders.head()

                           order_id  ... order_estimated_delivery_date
0  e481f51cbdc54678b7cc49136f2d6af7  ...                    2017-10-18
1  53cdb2fc8bc7dce0b6741e2150273451  ...                    2018-08-13
2  47770eb9100c2d0c44946d9cf07ec65d  ...                    2018-09-04
3  949d5b44dbf5de918fe9c16f97b45f8a  ...                    2017-12-15
4  ad21c59c0840e6cb83a9ceb5573f8159  ...                    2018-02-26

[5 rows x 8 columns]

In [11]:
orders["order_date"] = orders["order_purchase_timestamp"].dt.date

In [12]:
orders.head()

                           order_id  ...  order_date
0  e481f51cbdc54678b7cc49136f2d6af7  ...  2017-10-02
1  53cdb2fc8bc7dce0b6741e2150273451  ...  2018-07-24
2  47770eb9100c2d0c44946d9cf07ec65d  ...  2018-08-08
3  949d5b44dbf5de918fe9c16f97b45f8a  ...  2017-11-18
4  ad21c59c0840e6cb83a9ceb5573f8159  ...  2018-02-13

[5 rows x 9 columns]

# Aggregate by order date

In [13]:
orders[["order_date", "order_id"]].groupby(by = "order_date").agg(["count"])

           order_id
              count
order_date
2016-09-15        1
2016-10-03        7
2016-10-04       54
2016-10-05       35
2016-10-06       41
...             ...
2018-08-25       69
2018-08-26       73
2018-08-27       66
2018-08-28       39
2018-08-29       11

[612 rows x 1 columns]

Total number of days in the dataset

In [14]:
diff = orders["order_date"].max() - orders["order_date"].min()
diff.days

713